# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/breeze-next/node_modules
/breeze-next/.pnp
/breeze-next/.pnp.js

# testing
/breeze-next/coverage

# next.js
/breeze-next/.next/
/breeze-next/out/

# production
/breeze-next/build

# misc
/breeze-next/.DS_Store
/breeze-next/*.pem

# debug
/breeze-next/npm-debug.log*
/breeze-next/yarn-debug.log*
/breeze-next/yarn-error.log*

# env files
/breeze-next/.env
/breeze-next/.env.local
/breeze-next/.env.development.local
/breeze-next/.env.test.local
/breeze-next/.env.production.local

# vercel
/breeze-next/.vercel

/laravel/vendor
/laravel/.idea
